@import '../../css/variables.module.scss';
.container {
    
    background-color: $color-secondary-dark;
    padding-top: 2rem;
    padding-bottom: 5rem;

    &_heading {
        color: $color-white;
        margin-bottom: 2rem;
        text-align: center;
        text-transform: uppercase;
    }
}
.OrdercardContainer {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .OrdercardContainer {
        flex-direction: column;
    }
  }