@import '../../../css/variables.module.scss';
.container {
color: $color-white;
display: flex;
align-items: center;
flex-direction: column;
text-align: center;

}

.numberId {
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    color: $color-secondary-dark;
    font-size: 20px;
  

}

.text{
    
        background: $color-special-title;
        background-clip: text;
        padding: 1rem;
}
.space {
    padding: .5rem 0 ;
}
