@import '../../../css/variables.module.scss';

.container {
    background-color: $color-white;
    display: flex;
    margin: 50px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: #252525 0px 20px 30px -10px;
    cursor: pointer;
    transition: all .5s;

        &:hover {
            transform: scale(1.1);
            box-shadow: $color-bar 0px 20px 30px -10px;
        }

    .content {
        text-align: center;
        margin: auto 0;
    }
    @media only screen and (max-width: 600px) {
        .content {
            padding: .5rem;
        }
    }


    img {
        height: 200px;
        width: 350px;
        object-fit: cover;
    }
    @media only screen and (max-width: 900px) {
        img {
            height: 150px;
            width: 250px;
        }
    }
}
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}