.header {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(175, 126, 224, 0.98),
        rgba(221, 199, 243, 0.98)),
        url(../../img/headerphoto.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
    
}