@import '../../css/variables.module.scss';
.PopularMenu {
    
    background-color: $color-primary;
    padding-top: 3rem;
    text-align: center;

    &_heading {
        color: $color-secondary-dark;
        margin-bottom: 3rem;
        text-align: center;
        font-size: 2rem;
    }
    .cardContainer {
        display: flex;
        justify-content: center;
    }
    @media only screen and (max-width: 900px) {
        .cardContainer {
          flex-direction: column;
        }
      }
}
