@import '../../css/variables.module.scss';
.container {
display: flex;
flex-direction: row;
}

.imgSide {
    width: 50%;
    height: 70vh;
}
.imgs{
    width: 100%;
    height: 100%;
}

.textSide {
    width: 50%;
    background-color: $color-white;
    height: 70vh;
    padding: 50px;
    
    &_box{
        width: 25rem;
        
        &_h{
            font-size: 40px;
            padding-bottom: 1rem;
        }
        &_p{
            font-size: 20px;
            padding-bottom: 1rem;
        }
    }
}