@import '../../css/variables.module.scss';
.container {
    height: 60vh;
    background-color: $color-primary;
    position: relative;
    text-align: center;
    color: $color-secondary-dark;

    .icon{
        padding: .7rem 0;
        font-size: 3rem;
    }
    @media only screen and (max-width: 900px) {
        .icon {
        font-size: 2.5rem;
        
        }
    }

    .textbox{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20rem;
    }
    @media only screen and (max-width: 900px) {
        .textbox {
            width: 30rem;
        
        }
    }
    .text {
        font-size: 1rem;
        margin: 1rem 0;
    }
    .title {
        text-transform: uppercase;
        font-size: 2rem;
        
    }
    .icons {
        padding-top: 2rem;
        font-size: 3rem;
    }
    @media only screen and (max-width: 900px) {
        .icons {
            padding-top: 1rem;
        
        }
    }
}