@import '../../../css/variables.module.scss';

.container {
display: flex;
background-color: $color-white;

    .content, .picture {
        flex: 1;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .content {
        text-align: center;
        margin: auto 0;
    }
}