@import '../../../css/variables.module.scss';
.container {
background-color: $color-white;
overflow: hidden;
    margin: 2rem;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: all .5s;
    box-shadow: #252525 0px 20px 30px -10px;

    
    
    &:hover {
        transform: scale(1.1);
        box-shadow: $color-bar 0px 20px 30px -10px;
    }

    


.picture {
    width: 100%;
        height: 200px;
        object-fit: cover;
    }

.text{
    
        background: $color-special-title;
        background-clip: text;
        padding: 1rem;

}
.space {
    padding: .5rem 0 ;
}
}
@media only screen and (max-width: 900px) {
    .container {
      margin: 2rem 10rem;
    }
  }
